.container {
  .fit-media,
  > :not(.full) {
    max-width: $normal-breakpoint;
    margin: 0 auto;
    @include for-mobile-layout {
      max-width: initial;
    }
    @include for-tablet-layout {
      max-width: $mobile-breakpoint;
    }
    @include for-normal-layout {
      max-width: $tablet-breakpoint;
    }
    @include for-wide-layout {
      max-width: $normal-breakpoint;
    }
  }
  @include for-mobile-layout {
    padding: 0 10px;
  }
  @include for-tablet-layout {
    padding: 0 10px;
  }
}
