/* Breakpoint mixins - Mobile First */
// @mixin for-narrow-layout {
//     @media (min-width: $mobile-breakpoint) {
//         @content;
//     }
// }

// @mixin for-normal-layout {
//     @media (min-width: $narrow-breakpoint) {
//         @content;
//     }
// }

// @mixin for-wide-layout {
//     @media (min-width: $normal-breakpoint) {
//         @content;
//     }
// }

/* Desktop First */
@mixin for-mobile-layout {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin until-mobile-layout {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin for-tablet-layout {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin form-tablet-layout {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin until-tablet-layout {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (max-width: $normal-breakpoint) {
    @content;
  }
}

@mixin until-normal-layout {
  @media (max-width: $normal-breakpoint) {
    @content;
  }
}

@mixin form-normal-layout {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (max-width: $wide-breakpoint) {
    @content;
  }
}

@mixin form-wide-layout {
  @media (min-width: $normal-breakpoint) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
    pointer-events: none;
  }

  & > img,
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  > img {
    object-fit: cover;
  }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin quotes {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

@mixin hover-box {
  box-shadow: 0 0 0 1px rgba(87, 87, 87, 0.1),
    0 8px 8px 0 rgba(234, 224, 218, 0.3);
  border-radius: $frmrad;
  transition: all 0.1s ease-in-out;
  @media not all and (pointer: coarse) {
    &:hover {
      box-shadow: 0 8px 8px 0 rgba(51, 48, 48, 0.2),
        0 -8px 24px 0 rgba(234, 224, 218, 0.3);
    }
  }
}
