/* Breakpoint mixins - Mobile First */
// @mixin for-narrow-layout {
//     @media (min-width: $mobile-breakpoint) {
//         @content;
//     }
// }

// @mixin for-normal-layout {
//     @media (min-width: $narrow-breakpoint) {
//         @content;
//     }
// }

// @mixin for-wide-layout {
//     @media (min-width: $normal-breakpoint) {
//         @content;
//     }
// }

/* Desktop First */
@mixin for-mobile-layout {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin for-tablet-layout {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (max-width: $normal-breakpoint) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (max-width: $wide-breakpoint) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
    pointer-events: none;
  }

  & > img,
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  > img {
    object-fit: cover;
  }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin quotes {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

@mixin hover-box {
  box-shadow: 0 0 0 1px rgba(87, 87, 87, 0.1),
    0 8px 8px 0 rgba(234, 224, 218, 0.3);
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
  @media not all and (pointer: coarse) {
    &:hover {
      box-shadow: 0 8px 8px 0 rgba(51, 48, 48, 0.2),
        0 -8px 24px 0 rgba(234, 224, 218, 0.3);
    }
  }
}

@mixin card-wave {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.3;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 99.05%,
    1% 99.04%,
    2% 99%,
    3% 98.94%,
    4% 98.85%,
    5% 98.74%,
    6% 98.61%,
    7% 98.46%,
    8% 98.28%,
    9% 98.07%,
    10% 97.85%,
    11% 97.6%,
    12% 97.32%,
    13% 97.03%,
    14% 96.72%,
    15% 96.38%,
    16% 96.02%,
    17% 95.64%,
    18% 95.25%,
    19% 94.83%,
    20% 94.39%,
    21% 93.94%,
    22% 93.46%,
    23% 92.97%,
    24% 92.47%,
    25% 91.95%,
    26% 91.41%,
    27% 90.86%,
    28% 90.29%,
    29% 89.71%,
    30% 89.12%,
    31% 88.52%,
    32% 87.9%,
    33% 87.28%,
    34% 86.65%,
    35% 86.01%,
    36% 85.36%,
    37% 84.7%,
    38% 84.04%,
    39% 83.37%,
    40% 82.7%,
    41% 82.02%,
    42% 81.35%,
    43% 80.67%,
    44% 79.99%,
    45% 79.31%,
    46% 78.63%,
    47% 77.95%,
    48% 77.28%,
    49% 76.6%,
    50% 75.94%,
    51% 75.28%,
    52% 74.62%,
    53% 73.97%,
    54% 73.33%,
    55% 72.7%,
    56% 72.07%,
    57% 71.46%,
    58% 70.86%,
    59% 70.27%,
    60% 69.69%,
    61% 69.12%,
    62% 68.57%,
    63% 68.03%,
    64% 67.51%,
    65% 67.01%,
    66% 66.52%,
    67% 66.05%,
    68% 65.59%,
    69% 65.16%,
    70% 64.74%,
    71% 64.34%,
    72% 63.97%,
    73% 63.61%,
    74% 63.27%,
    75% 62.96%,
    76% 62.67%,
    77% 62.39%,
    78% 62.15%,
    79% 61.92%,
    80% 61.72%,
    81% 61.54%,
    82% 61.38%,
    83% 61.25%,
    84% 61.14%,
    85% 61.06%,
    86% 61%,
    87% 60.96%,
    88% 60.95%,
    89% 60.97%,
    90% 61%,
    91% 61.06%,
    92% 61.15%,
    93% 61.26%,
    94% 61.39%,
    95% 61.55%,
    96% 61.73%,
    97% 61.94%,
    98% 62.16%,
    99% 62.41%,
    100% 62.69%
  );
}

@mixin header-wave {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 76%,
    1% 76.01%,
    2% 76.05%,
    3% 76.12%,
    4% 76.22%,
    5% 76.34%,
    6% 76.49%,
    7% 76.66%,
    8% 76.86%,
    9% 77.09%,
    10% 77.34%,
    11% 77.61%,
    12% 77.91%,
    13% 78.23%,
    14% 78.57%,
    15% 78.93%,
    16% 79.32%,
    17% 79.72%,
    18% 80.14%,
    19% 80.59%,
    20% 81.04%,
    21% 81.52%,
    22% 82%,
    23% 82.51%,
    24% 83.02%,
    25% 83.55%,
    26% 84.08%,
    27% 84.63%,
    28% 85.18%,
    29% 85.74%,
    30% 86.3%,
    31% 86.87%,
    32% 87.44%,
    33% 88.01%,
    34% 88.58%,
    35% 89.15%,
    36% 89.72%,
    37% 90.28%,
    38% 90.84%,
    39% 91.39%,
    40% 91.93%,
    41% 92.47%,
    42% 92.99%,
    43% 93.51%,
    44% 94.01%,
    45% 94.5%,
    46% 94.97%,
    47% 95.43%,
    48% 95.87%,
    49% 96.29%,
    50% 96.69%,
    51% 97.08%,
    52% 97.44%,
    53% 97.78%,
    54% 98.1%,
    55% 98.4%,
    56% 98.67%,
    57% 98.92%,
    58% 99.15%,
    59% 99.34%,
    60% 99.52%,
    61% 99.67%,
    62% 99.79%,
    63% 99.88%,
    64% 99.95%,
    65% 99.99%,
    66% 100%,
    67% 99.99%,
    68% 99.94%,
    69% 99.88%,
    70% 99.78%,
    71% 99.66%,
    72% 99.51%,
    73% 99.33%,
    74% 99.13%,
    75% 98.91%,
    76% 98.66%,
    77% 98.38%,
    78% 98.09%,
    79% 97.76%,
    80% 97.42%,
    81% 97.06%,
    82% 96.67%,
    83% 96.27%,
    84% 95.84%,
    85% 95.4%,
    86% 94.94%,
    87% 94.47%,
    88% 93.98%,
    89% 93.48%,
    90% 92.97%,
    91% 92.44%,
    92% 91.9%,
    93% 91.36%,
    94% 90.81%,
    95% 90.25%,
    96% 89.69%,
    97% 89.12%,
    98% 88.55%,
    99% 87.98%,
    100% 87.41%
  );
}
