// Colors
$clr1: #891826;
$clr2: #ba1628;
$clr3: #dd7782;
$clr4: #f7f3f0;

$clr5: #575757;
$clr6: #808080;

$clrwht: #fff;
$clrblk: #1e1e1e;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1080px;
$wide-breakpoint: 1280px;
