// Colors
$clr1: #ba1628;
$clr2: #dd7782;
$clr3: #f7f3f0;
$clr4: #575757;
$clr5: #808080;

$clrwht: #fff;
$clrblk: #1e1e1e;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1024px;
$wide-breakpoint: 1280px;
