// Colors
$clr1: #ba1628;
$clr2: #5c3fc5;
$clr3: #f7f3f0;
$clr4: #fff;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1024px;
$wide-breakpoint: 1280px;
