.app-header {
  display: flex;
  flex-direction: column;
  .control-bar {
    font-size: 1em;
    display: flex;
    height: 64px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      margin-inline-end: 24px;
    }
    .search {
      flex: 1;
      margin: 12px;
      border: 1px solid #dedede;
      background-image: url("../../assets/imgs/icons/search.svg");
      background-position: 16px;
      background-size: 16px;
      background-repeat: no-repeat;
      border-radius: 3em;
      display: flex;
      max-width: 300px;
      input {
        outline: none;
        border: 0;
        margin-inline-start: 50px;
      }
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      max-width: 490px;
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        gap: 4px;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
