.app-header {
  user-select: none;
  display: flex;
  flex-direction: column;
  .control-bar {
    font-size: 1em;
    display: flex;
    height: 64px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      margin-inline-end: 24px;
    }
    .search {
      flex: 1;
      margin: 12px;
      border: 1px solid #dedede;
      background-image: url("../../assets/imgs/icons/search.svg");
      background-position: 16px;
      background-size: 16px;
      background-repeat: no-repeat;
      border-radius: 3em;
      display: flex;
      max-width: 300px;
      input {
        background: transparent;
        outline: none;
        border: 0;
        margin-inline-start: 50px;
      }
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      max-width: 490px;
      list-style-type: none;
      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        gap: 4px;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

.popup-menu {
  top: 0;
  position: absolute;
  margin: 0;
  margin-top: 2px;
  z-index: 100;
  background-color: $clr4;
  border-radius: 8px;
  display: flex;
  @include for-mobile-layout {
    flex-direction: column;
  }
  padding: 0 16px;
  @include hover-box;
  > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 12px 14px;
    li {
      cursor: pointer;
      @include until-normal-layout {
        font-size: 1em;
        padding: 2px;
      }
      @include form-normal-layout {
        font-size: 1.2em;
        padding: 6px;
      }
      &.bold {
        font-weight: 700;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $clr4;
  }
}
