.stars-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  display: flex;
  justify-content: center;
  .stars {
    position: absolute;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    > * {
      height: 16px;
      width: 16px;
    }
  }
}
