.wine-preview {
  > img {
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
    height: 150px;
    border-radius: $frmrad $frmrad 0 0;
    object-fit: cover;
  }
  position: relative;
  cursor: pointer;
  min-width: 210px;
  display: inline-block;
  flex: 1;
  min-height: 360px;
  height: fit-content;
  width: calc(25% - 20px);
  margin: 0 10px;
  &:hover {
    .bottle-img {
      transform: translateY(-10px) rotateZ(-1deg) scale(102%);
    }
  }
  .preview-header {
    border-radius: $frmrad;
    display: flex;
    align-items: center;
    justify-content: center;
    .wine-bottle {
      // flex: 1;
      max-height: 280px;
      max-width: 120px;
      img {
        top: -20px;
        height: 300px;
        padding-inline-start: 16px;
        transition: transform 1s;
        filter: drop-shadow(5px 2px 10px $clrwht);
        &:not(:last-child) {
          position: absolute;
        }
        &:last-child {
          visibility: hidden;
          height: 90%;
          width: 100%;
        }
      }
    }
    .wine-rate {
      padding-top: 20px;
      // margin-inline-start: -40%;
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .avg-rate {
        font-size: 2.6em;
      }
      .total-ratings {
        color: $clr5;
      }
      .sale-status {
        padding: 24px 0;
        color: $clr2;
        font-weight: 700;
      }
    }
  }
  .preview-info {
    flex: 1;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    white-space: break-spaces;
    margin: 8px 0;
    h4 {
      margin: 0;
      font-size: 1em;
    }
    h5 {
      padding: 0;
      font-size: 1em;
      font-weight: 400;
      color: $clr5;
      text-transform: capitalize;
    }
    .wine-country {
      text-transform: capitalize;
      padding-top: 4px;
      display: flex;
      gap: 4px;
      img {
        margin-top: -1px;
        border-radius: 50%;
        height: 16px;
        width: 16px;
      }
    }
  }
}

.wine-header {
  width: 100%;
  background-color: #f7f3f0;
  background: linear-gradient(
    90deg,
    rgba(247, 243, 240, 1) 0%,
    rgba(247, 243, 240, 1) 80%,
    rgba(247, 243, 240, 0) 100%
  );
  .information {
    &:hover > .picture > img {
      transform: rotateZ(-1deg);
    }
    display: flex;
    // margin: 0 18px 0 0;
    align-items: flex-start;
    .picture {
      display: flex;
      justify-content: center;
      max-width: 208px;
      img {
        padding: 25px;
        max-height: 300px;
        transition: transform 2s;
      }
    }
    .content {
      padding: 48px 0 0 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      h2 {
        cursor: pointer;
        padding-bottom: 6px;
      }
      h1 {
        padding-bottom: 18px;
      }
      .tags {
        padding-bottom: 24px;
        .tag {
          cursor: pointer;
          text-transform: capitalize;
          padding: 2px 8px 0 0;
          &:not(:last-child):after {
            margin-inline-start: 8px;
            content: "·";
            text-decoration: none;
          }
        }
      }
      .rate {
        display: flex;
        .avg {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.5em;
          font-weight: 500;
          transform: scale(1.1, 1.2);
        }
        .more-info {
          padding: 2px 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 100px;
        }
      }
    }
    .price {
      display: flex;
      flex-direction: column;
    }
  }
}

.taste-like {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  h2 {
    font-size: 1.75em;
    font-weight: 600;
  }
  .details {
    display: flex;
    @include until-tablet-layout {
      flex-direction: column;
      align-items: center;
    }
    table {
      @include until-tablet-layout {
        width: 100%;
      }
      user-select: none;
      flex: 1;
      padding: 0 12px;
      tr {
        display: flex;
        align-items: center;
        height: 30px;
        td {
          min-width: 50px;
        }
        td.scale-container {
          flex: 1;
          display: flex;
          align-items: center;
          padding: 0 6px;
          div.scale {
            border-radius: 8px;
            color: $clr4;
            background-color: $clr4;
            width: 100%;
            height: 7px;
            div.thumb {
              animation: hover-zoom 1s 2 ease-in-out;
              position: relative;
              top: -3px;
              font-size: 0;
              width: 15%;
              border-radius: 6px;
              height: 12px;
              transition: transform 0.5s;
              background-color: $clr1;
              &.self {
                background-color: $clr2;
              }
              &.unrated {
                background-color: $clr5;
                opacity: 0.3;
              }
              &:hover {
                transform: scale(102%);
              }
            }
          }
        }
      }
    }
    .more {
      padding: 0 16px;
      @include from-normal-layout {
        max-width: 300px;
      }
      letter-spacing: 0.8px;
      line-height: 1.3em;
      h4 {
        display: none;
        text-transform: uppercase;
        @include from-normal-layout {
          display: block;
        }
      }
    }
  }
  .taste-fill {
    position: relative;
    padding: 48px 0;
    button {
      &::after {
        content: "";
        border: solid $clr5;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        left: 15px;
      }
      position: absolute;
      z-index: 1;
      border: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $clrwht;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 20px 0 rgba(66, 66, 66, 0.2);
      top: calc(55% - 30px);
      &.next {
        transform: rotate(-45deg);
        left: calc(100% - 50px);
      }
      &.back {
        left: 5px;
        transform: rotate(-225deg);
      }
    }
    .taste-cards {
      margin: 0 auto;
      width: calc(100% - 50px);
      overflow: hidden;
      .taste-slider {
        height: 160px;
        white-space: nowrap;
        // transition: 0.3s;
        .taste-fill-preview {
          display: inline-block;
          text-align: center;
          flex: 1;
          min-height: 140px;
          cursor: pointer;
          margin: 8px 4px;
          width: calc(100% / 3 - 8px);
          overflow: hidden;
          .picture {
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              margin: 8px;
              max-width: 50%;
            }
          }
          h3 {
            font-weight: 400;
            font-size: 1em;
            padding: 8px;
            margin: 0 12px;
            white-space: nowrap;
            overflow: hidden;
            width: calc(100% - 22px);
            text-overflow: ellipsis;
          }
          p {
            color: #575757;
            font-size: 0.875em;
            white-space: normal;
          }
        }
      }
    }
  }
}

.taste-preview {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5);
  min-height: 100%;
  min-width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  .taste-content {
    border-radius: $frmrad;
    background-color: $clrwht;
    @include from-tablet-layout {
      width: 80%;
    }
    @include for-mobile-layout {
      width: calc(100% - 16px);
    }
    height: max-content;
    margin-top: 5vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    .taste-header {
      position: relative;
      color: $clrwht;
      width: 100%;
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-block-end: 8px;
      img {
        margin-top: 6px;
        padding: 4px 4px;
        height: 50px;
        width: 50px;
      }
      button {
        position: absolute;
        top: 4px;
        right: 4px;
        height: 24px;
        width: 24px;
        margin: 0;
        padding: 0;
        color: $clrwht;
        border: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .taste-keywords {
      display: flex;
      flex-wrap: wrap;
      button {
        margin: 8px;
        border: solid 2px $clrwht;
        color: $clrwht;
        height: 30px;
        display: flex;
        align-items: center;
        .count {
          display: inline-block;
          margin-inline-end: 4px;
          padding: 0 4px;
          border-radius: 3em;
          font-size: 0.875em;
        }
      }
    }
    .taste-reviews {
      overflow-y: scroll;
      margin-block-end: 24px;
      width: 100%;
      .taste-review {
        > * {
          display: inline-block;
        }
        .summerize {
          display: flex;
          padding: 0 32px;
          justify-content: space-between;
          .reviewer {
            font-size: 1em;
            .name,
            .reviews {
              font-weight: 700;
              color: $clr1;
            }
          }
          .rating {
            width: 82.5px;
            justify-content: initial;
          }
        }
        .content {
          display: block;
          margin: 16px 8px 4px 8px;
          padding: 16px;
        }
      }
    }
  }
}

.wine-container {
  position: relative;
  button {
    &::after {
      content: "";
      border: solid $clr5;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      position: absolute;
      left: 15px;
    }
    position: absolute;
    z-index: 1;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $clrwht;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px 0 rgba(66, 66, 66, 0.2);
    top: calc(55% - 30px);
    &.next {
      transform: rotate(-45deg);
      left: calc(100% - 50px);
    }
    &.back {
      left: 5px;
      transform: rotate(-225deg);
    }
  }
  @include for-normal-layout {
    button {
      display: none;
    }
  }
  .wine-cards {
    margin: 0 auto;
    padding: 48px 0;
    width: calc(100% - 50px);
    overflow: hidden;
    .wine-slider {
      white-space: nowrap;
      @include for-normal-layout {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        white-space: initial;
      }
    }
  }
}

.more-wines {
  > h2 {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: capitalize;
  }
  > p {
    color: $clr5;
  }
}

.wine-pairings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include for-tablet-layout {
    flex-direction: column;
  }
  .information {
    @include for-mobile-layout {
      max-height: 120px;
    }
    @include from-tablet-layout {
      max-height: 180px;
    }
    display: flex;
    flex: 1;
    min-width: 300px;
    max-width: calc(60ch + 70px);
    .content {
      flex: 1;
      h2 {
        font-size: 1.75em;
        font-weight: 700;
      }
      p {
        span {
          text-transform: capitalize;
        }
        line-height: 1.3em;
      }
    }
    > img {
      @include from-normal-layout {
        object-fit: contain;
        max-width: 50px;
      }
      @include until-normal-layout {
        display: none;
      }
    }
  }
  .meals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .meal {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .image-container {
        @include for-mobile-layout {
          height: 90px;
          width: 90px;
        }
        @include from-tablet-layout {
          height: 120px;
          width: 120px;
        }
        border-radius: 50%;
        overflow: hidden;
        margin: 12px 8px;
        img {
          max-height: 100%;
          max-width: 100%;
          transition: transform 1s;
          &:hover {
            transform: scale(102%);
          }
        }
      }
      h3 {
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}

.wine-add-review {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: $frmrad;
  @include from-tablet-layout {
    width: 80vw;
    height: 320px;
  }
  @include until-tablet-layout {
    width: calc(100% - 16px);
    height: 90vh;
  }
  background: $clr4;
  display: flex;
  flex-direction: column;
  .close-btn {
    cursor: pointer;
    font-weight: 700;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: $clrwht;
    border-radius: 50%;
    right: 8px;
    top: 8px;
  }
  form {
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    label {
      position: relative;
      span {
        font-weight: 700;
      }
      display: flex;
      &:not(:last-child) {
        margin: 8px 0;
        gap: 40px;
        .stars-container {
          width: 160px;
        }
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      input,
      textarea {
        border: 0;
        // border: 1px solid $clr3;
        outline-color: $clr1;
        border-radius: calc($frmrad / 2);
      }
      input {
        padding: 0 0 2px 8px;
        height: 1.5em;
      }
      textarea {
        padding: calc($frmrad / 2);
        resize: none;
        height: 140px;
        @include until-tablet-layout {
          height: calc(100vh - 285px);
        }
      }
      p.chars-left {
        font-size: 0.875em;
        position: absolute;
        bottom: 2px;
        right: 12px;
        opacity: 0.5;
      }
      p.warning {
        position: absolute;
        bottom: -1.8em;
        color: red;
      }
    }
  }
  button {
    margin: 12px 25px;
    align-self: flex-end;
  }
}

.filter-continaer {
  display: flex;
  flex-direction: column;
  .control-panel {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 12px 8px;
    @include from-tablet-layout {
      margin-bottom: 16px;
    }
    @include for-mobile-layout {
      flex-direction: column;
      margin-bottom: 24px;
    }
    .filtered-by {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      h1 {
        width: 100%;
      }
      button {
        margin: 4px;
        position: relative;
        padding: 6px 16px;
        border: 0;
        width: max-content;
        text-transform: capitalize;
        color: $clrwht;
        background-color: $clr2;
        &.remove-button::before {
          position: relative;
          top: -1px;
          left: -6px;
          font-size: 0.75em;
          padding: 0 0 0 4px;
          content: "X";
        }
      }
    }
    .buttons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      button {
        @include from-normal-layout {
          &.filter-button {
            display: none;
          }
        }
        max-height: 36px;
        margin: 0 6px;
        position: relative;
        max-width: 180px;
        flex: 1;
        text-transform: capitalize;
        &.marked {
          border-color: $clr1;
          color: $clrwht;
          background-color: $clr1;
          span.remove {
            position: absolute;
            right: 8px;
            margin: 0;
            border: 0;
          }
        }
      }
    }
  }
  .wines-filter {
    display: flex;
    @include until-tablet-layout {
      flex-direction: column;
    }
    .filter-menu {
      .title {
        @include from-normal-layout {
          display: none;
        }
        margin: 12px 0;
        text-align: center;
        width: calc(100% - 12px);
        color: $clr5;
        text-transform: capitalize;
        padding-bottom: 10px;
        border-bottom: 1px solid $clr5;
      }
      h2 {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: capitalize;
        width: 100%;
      }
      .wine-select-buttons {
        button {
          margin: 4px;
          position: relative;
          padding: 6px 8px;
          border: 0;
          min-width: 80px;
          text-transform: capitalize;
          color: $clrwht;
          background-color: $clr1;
          &.selected {
            transition: color 0.3s, background-color 0.3s;
            background-color: $clr2;
            color: $clrwht;
            animation: flicker 0.2s 3 ease-in-out;
          }
          &:hover {
            background-color: $clr2;
          }
        }
        .quick-filter-search {
          display: block;
          width: 100%;
          input {
            background-color: transparent;
            border: 0;
            outline: none;
            border-bottom: 1px solid $clr5;
            &:focus {
              border-bottom: 2px solid $clr1;
            }
          }
          .quick-filter-popup {
            top: 0;
            position: absolute;
            z-index: 100;
            background-color: $clr4;
            border-radius: $frmrad;
            display: flex;
            max-width: 100%;
            gap: 20px;
            padding: 8px;
            box-shadow: 0 8px 8px 0 rgba(51, 48, 48, 0.2),
              0 -8px 24px 0 rgba(234, 224, 218, 0.3);
            @include for-mobile-layout {
              width: calc(100% - 16px);
              margin: 0 8px;
            }
            button {
              padding: 8px;
              text-transform: capitalize;
              margin: 8px 0;
              &:hover {
                background-color: $clr2;
              }
            }
            &::before {
              content: "";
              position: absolute;
              @include from-tablet-layout {
                margin-inline-start: 10px;
              }
              @include for-mobile-layout {
                margin-inline-start: calc(50% - 16px);
              }
              top: -8px;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid $clr4;
            }
          }
        }
      }
      > * {
        margin: 24px 8px 32px 8px;
      }
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      @include until-tablet-layout {
        display: none;
        min-height: 100%;
        max-height: 100%;
        position: fixed;
        top: 0;
        background-color: $clrwht;
        z-index: 3;
        overflow-y: scroll;
      }
      @include from-normal-layout {
        min-width: 280px;
        max-width: 40%;
      }
      .apply {
        display: flex;
        justify-content: center;
        button {
          max-width: 160px;
          flex: 1;
          text-transform: capitalize;
        }
        @include from-normal-layout {
          display: none;
        }
      }
    }
    .wines-result {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 8px;
      flex: 1;
      > * {
        margin: 0 16px 32px 16px;
        flex-basis: 100%;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.card-wave {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 99.05%,
    1% 99.04%,
    2% 99%,
    3% 98.94%,
    4% 98.85%,
    5% 98.74%,
    6% 98.61%,
    7% 98.46%,
    8% 98.28%,
    9% 98.07%,
    10% 97.85%,
    11% 97.6%,
    12% 97.32%,
    13% 97.03%,
    14% 96.72%,
    15% 96.38%,
    16% 96.02%,
    17% 95.64%,
    18% 95.25%,
    19% 94.83%,
    20% 94.39%,
    21% 93.94%,
    22% 93.46%,
    23% 92.97%,
    24% 92.47%,
    25% 91.95%,
    26% 91.41%,
    27% 90.86%,
    28% 90.29%,
    29% 89.71%,
    30% 89.12%,
    31% 88.52%,
    32% 87.9%,
    33% 87.28%,
    34% 86.65%,
    35% 86.01%,
    36% 85.36%,
    37% 84.7%,
    38% 84.04%,
    39% 83.37%,
    40% 82.7%,
    41% 82.02%,
    42% 81.35%,
    43% 80.67%,
    44% 79.99%,
    45% 79.31%,
    46% 78.63%,
    47% 77.95%,
    48% 77.28%,
    49% 76.6%,
    50% 75.94%,
    51% 75.28%,
    52% 74.62%,
    53% 73.97%,
    54% 73.33%,
    55% 72.7%,
    56% 72.07%,
    57% 71.46%,
    58% 70.86%,
    59% 70.27%,
    60% 69.69%,
    61% 69.12%,
    62% 68.57%,
    63% 68.03%,
    64% 67.51%,
    65% 67.01%,
    66% 66.52%,
    67% 66.05%,
    68% 65.59%,
    69% 65.16%,
    70% 64.74%,
    71% 64.34%,
    72% 63.97%,
    73% 63.61%,
    74% 63.27%,
    75% 62.96%,
    76% 62.67%,
    77% 62.39%,
    78% 62.15%,
    79% 61.92%,
    80% 61.72%,
    81% 61.54%,
    82% 61.38%,
    83% 61.25%,
    84% 61.14%,
    85% 61.06%,
    86% 61%,
    87% 60.96%,
    88% 60.95%,
    89% 60.97%,
    90% 61%,
    91% 61.06%,
    92% 61.15%,
    93% 61.26%,
    94% 61.39%,
    95% 61.55%,
    96% 61.73%,
    97% 61.94%,
    98% 62.16%,
    99% 62.41%,
    100% 62.69%
  );
}

.card-wave-rtl {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 51%,
    1% 51.01%,
    2% 51.05%,
    3% 51.12%,
    4% 51.21%,
    5% 51.33%,
    6% 51.47%,
    7% 51.64%,
    8% 51.83%,
    9% 52.05%,
    10% 52.29%,
    11% 52.56%,
    12% 52.85%,
    13% 53.17%,
    14% 53.51%,
    15% 53.87%,
    16% 54.26%,
    17% 54.66%,
    18% 55.09%,
    19% 55.54%,
    20% 56.01%,
    21% 56.5%,
    22% 57.01%,
    23% 57.54%,
    24% 58.08%,
    25% 58.64%,
    26% 59.22%,
    27% 59.81%,
    28% 60.42%,
    29% 61.05%,
    30% 61.68%,
    31% 62.33%,
    32% 62.99%,
    33% 63.66%,
    34% 64.35%,
    35% 65.04%,
    36% 65.73%,
    37% 66.44%,
    38% 67.15%,
    39% 67.87%,
    40% 68.59%,
    41% 69.32%,
    42% 70.05%,
    43% 70.78%,
    44% 71.51%,
    45% 72.24%,
    46% 72.98%,
    47% 73.71%,
    48% 74.43%,
    49% 75.15%,
    50% 75.87%,
    51% 76.58%,
    52% 77.29%,
    53% 77.99%,
    54% 78.68%,
    55% 79.36%,
    56% 80.03%,
    57% 80.69%,
    58% 81.34%,
    59% 81.98%,
    60% 82.6%,
    61% 83.21%,
    62% 83.8%,
    63% 84.38%,
    64% 84.94%,
    65% 85.48%,
    66% 86.01%,
    67% 86.52%,
    68% 87.01%,
    69% 87.47%,
    70% 87.92%,
    71% 88.35%,
    72% 88.76%,
    73% 89.14%,
    74% 89.5%,
    75% 89.84%,
    76% 90.16%,
    77% 90.45%,
    78% 90.72%,
    79% 90.96%,
    80% 91.18%,
    81% 91.37%,
    82% 91.54%,
    83% 91.68%,
    84% 91.79%,
    85% 91.89%,
    86% 91.95%,
    87% 91.99%,
    88% 92%,
    89% 91.99%,
    90% 91.95%,
    91% 91.88%,
    92% 91.79%,
    93% 91.67%,
    94% 91.53%,
    95% 91.36%,
    96% 91.16%,
    97% 90.94%,
    98% 90.7%,
    99% 90.43%,
    100% 90.14%
  );
}
