.winery-preview {
  margin: 32px 0;
  box-shadow: 0 0 0 1px rgba(87, 87, 87, 0.1),
    0 8px 8px 0 rgba(234, 224, 218, 0.3);
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
  border: 0;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  gap: 20px;
  @include hover-box;
  .information {
    display: flex;
    flex-direction: column;
    padding: 24px;
    h2 {
      font-weight: 600;
    }
    .country {
      color: #575757;
      font-size: 0.875em;
    }
    .short-description {
      flex: 1;
      line-height: 1.5em;
      letter-spacing: 1px;
    }
    button {
      align-self: flex-start;
    }
    flex-basis: 40%;
  }
  .image {
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 0 16px 16px 0;
      &.logo {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        position: absolute;
        right: 16px;
        top: 16px;
      }
    }
    flex: 3;
  }
}
