.winery-preview {
  margin: 32px 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  @include for-mobile-layout {
    flex-direction: column-reverse;
  }
  gap: 20px;
  overflow: hidden;
  @include hover-box;
  .information {
    display: flex;
    flex-direction: column;
    padding: 24px;
    h2 {
      font-weight: 600;
    }
    .country {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #575757;
      font-size: 0.875em;
      img {
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
    }
    .short-description {
      flex: 1;
      line-height: 1.5em;
      letter-spacing: 1px;
    }
    button {
      align-self: flex-start;
    }
    flex-basis: 40%;
  }
  .image {
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      &.logo {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        position: absolute;
        right: 16px;
        top: 16px;
      }
    }
    flex: 3;
  }
}
