.winery-preview {
  position: relative;
  margin: 32px 0;
  border: 0;
  width: calc(100% - 20px);
  cursor: pointer;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  @include for-mobile-layout {
    flex-direction: column-reverse;
  }
  gap: 20px;
  overflow: hidden;
  @include hover-box;
  &:hover {
    .image {
      img {
        height: 105%;
        width: 105%;
      }
    }
  }
  .information {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-width: 100%;
    min-height: 260px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8) calc(60ch + 5%),
      rgba(46, 28, 14, 0) 100%
    );
    h2 {
      font-weight: 600;
    }
    .country {
      padding-inline-start: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      color: #575757;
      font-size: 0.875em;
      text-transform: capitalize;
      img {
        border-radius: 50%;
        height: 12px;
        width: 12px;
      }
    }
    .short-description {
      flex: 1;
      line-height: 1.5em;
      letter-spacing: 1px;
      max-width: 60ch;
    }
    button {
      margin-top: 8px;
      align-self: flex-start;
    }
    flex-basis: 40%;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      transition: 3s ease-in-out;
      &.logo {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        position: absolute;
        right: 16px;
        top: 16px;
      }
    }
    flex: 3;
  }
}

.winery-header {
  position: relative;
  > div.cover {
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.8),
      rgb(255, 255, 255)
    );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  > img.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -2;
  }
  .winery-map {
    animation: fadein 5s ease-in;
    mix-blend-mode: multiply;
    position: relative;
    height: 170px;
    iframe {
      position: relative;
      top: -90%;
      height: 500px;
      min-width: 100%;
      pointer-events: none;
      user-select: none;
    }
    @include header-wave;
  }
  .winery-information {
    position: relative;
    top: -26px;
    padding: 0 8px;
    .title {
      color: $clr5;
      font-size: 1.25em;
      text-transform: uppercase;
      opacity: 0.8;
    }
    .name {
      font-size: 3.2em;
      text-transform: capitalize;
    }
    .country {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      img {
        border-radius: 50%;
        width: 18px;
        height: 18px;
      }
    }
    .more-information {
      padding-block-start: 36px;
      display: flex;
      gap: 36px;
      .average-rate {
        display: inline-block;
        p {
          text-transform: capitalize;
          font-size: 1em;
        }
        .rate {
          :first-child {
            font-size: 1.5em;
            font-weight: 700;
          }
          :not(:first-child) {
            color: $clr5;
            opacity: 0.8;
          }
        }
      }
      .wines-count {
        :first-child {
          text-transform: capitalize;
          font-size: 1em;
        }
        :not(:first-child) {
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
  }
}

.winery-details {
  > h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
  }
  > p {
    color: $clr5;
    opacity: 0.8;
  }
}
